# grounding
prompt_grounding/*.egg-info
prompt_grounding/*.pyc
prompt_grounding/build/
prompt_grounding/DATASET/
prompt_grounding/OUTPUT/
prompt_grounding/MODEL/
prompt_grounding/best_model/
all_key/
prompt_grounding/OUTPUT_org

# compilation and distribution
__pycache__
_ext
*.so
prompt_grounding/maskrcnn_benchmark.egg-info/
prompt_grounding/dist/

# pytorch/python/numpy formats
prompt_grounding/*.pth
prompt_grounding/*.pkl
prompt_grounding/*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# MacOS
.DS_Store

# Custom
*.custom.py

# logs
logs/
log_new/

# res
prompt_grounding/FINAL_RES/
prompt_grounding/FINAL_RES_v2/
prompt_grounding/eval/

# visualize
prompt_grounding/visualize_base/
prompt_grounding/visualize_glip/
prompt_grounding/visualize_lpi/
prompt_grounding/visualize_lpi_v2/
prompt_grounding/visualize_maple/
prompt_grounding/visualize_sprompts/

# task_div
prompt_grounding/TASK_DIV/
prompt_grounding/TASK_DIV_REFCOCO/

# prompt_save
prompt_save/prompt_grounding/

# embedding save
prompt_grounding/embedding_save/

# retrieval
__pycache__
.idea/
S-Prompts-lpi/logs/
S-Prompts-lpi/logss/
S-Prompts-lpi/res/
S-Prompts-lpi/.vscode/
